In [9]:
import pandapower as pp #import pandapower

net = pp.create_empty_network() #create an empty network

In [10]:
# Buses
bus1 = pp.create_bus(net, name="HV Busbar", vn_kv=110, type="b")
bus2 = pp.create_bus(net, name="HV Busbar 2", vn_kv=110, type="b")
bus3 = pp.create_bus(net, name="HV Transformer Bus", vn_kv=110, type="n")
bus4 = pp.create_bus(net, name="MV Transformer Bus", vn_kv=20, type="n")
bus5 = pp.create_bus(net, name="MV Main Bus", vn_kv=20, type="b")
bus6 = pp.create_bus(net, name="MV Bus 1", vn_kv=20, type="b")
bus7 = pp.create_bus(net, name="MV Bus 2", vn_kv=20, type="b")

In [11]:
# External Grid
pp.create_ext_grid(net, bus1, vm_pu=1.02, va_degree=50) # Create an external grid connection

0

In [12]:
# Transformer
trafo1 = pp.create_transformer(net, bus3, bus4, name="110kV/20kV transformer", std_type="25 MVA 110/20 kV")

In [13]:
# Lines
line1 = pp.create_line(net, bus1, bus2, length_km=10, std_type="N2XS(FL)2Y 1x300 RM/35 64/110 kV",  name="Line 1")
line2 = pp.create_line(net, bus5, bus6, length_km=2.0, std_type="NA2XS2Y 1x240 RM/25 12/20 kV", name="Line 2")
line3 = pp.create_line(net, bus6, bus7, length_km=3.5, std_type="48-AL1/8-ST1A 20.0", name="Line 3")
line4 = pp.create_line(net, bus7, bus5, length_km=2.5, std_type="NA2XS2Y 1x240 RM/25 12/20 kV", name="Line 4")

In [14]:
# Switches
sw1 = pp.create_switch(net, bus2, bus3, et="b", type="CB", closed=True)
sw2 = pp.create_switch(net, bus4, bus5, et="b", type="CB", closed=True)
sw3 = pp.create_switch(net, bus5, line2, et="l", type="LBS", closed=True)
sw4 = pp.create_switch(net, bus6, line2, et="l", type="LBS", closed=True)
sw5 = pp.create_switch(net, bus6, line3, et="l", type="LBS", closed=True)
sw6 = pp.create_switch(net, bus7, line3, et="l", type="LBS", closed=False)
sw7 = pp.create_switch(net, bus7, line4, et="l", type="LBS", closed=True)
sw8 = pp.create_switch(net, bus5, line4, et="l", type="LBS", closed=True)

In [15]:
# Load
pp.create_load(net, bus7, p_mw=2, q_mvar=4, scaling=0.6, name="load")

0

In [16]:
# Static Generator
pp.create_sgen(net, bus7, p_mw=2, q_mvar=-0.5, name="static generator")

0

In [17]:
# Voltage controlled Generator
pp.create_gen(net, bus6, p_mw=6, max_q_mvar=3, min_q_mvar=-3, vm_pu=1.03, name="generator")

0

In [18]:
# Shunt
pp.create_shunt(net, bus3, q_mvar=-0.96, p_mw=0, name='Shunt')

0

In [19]:
# Power Flow
pp.runpp(net)

In [20]:
# RESULTS

In [21]:
# Buses
net.res_bus

      vm_pu  va_degree      p_mw    q_mvar
0  1.020000   0.000000  6.741115  7.146883
1  1.020830   0.032414  0.000000  0.000000
2  1.020830   0.032414  0.000000 -1.000409
3  1.024562   1.802848  0.000000  0.000000
4  1.024562   1.802848  0.000000  0.000000
5  1.030000   1.870455 -6.000000 -3.421910
6  1.023205   1.952224 -0.800000  2.900000

In [22]:
# External grid
net.res_ext_grid

       p_mw    q_mvar
0 -6.741115 -7.146883

In [23]:
# Line
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,-6.741115e+00,-7.146883,6.744162e+00,1.454505e+00,3.046845e-03,-5.692378,0.050554,3.547266e-02,0.050554,1.020000,0.000000,1.020830,0.032414,8.597638
1,-5.972390e+00,-3.481625,6.000000e+00,3.426342e+00,2.761024e-02,-0.055283,0.194780,1.936478e-01,0.194780,1.024562,1.802848,1.030000,1.870455,46.266070
2,2.406269e-08,-0.004433,5.899554e-14,-1.271909e-14,2.406275e-08,-0.004433,0.000124,1.691430e-15,0.000124,1.030000,1.870455,1.030007,1.869833,0.059160
3,8.000000e-01,-2.900000,-7.936182e-01,2.805738e+00,6.381811e-03,-0.094262,0.084873,8.215450e-02,0.084873,1.023205,1.952224,1.024562,1.802848,20.159919

In [24]:
# Trafos
net.res_trafo

,p_hv_mw,q_hv_mvar,p_lv_mw,q_lv_mvar,pl_mw,ql_mvar,i_hv_ka,i_lv_ka,vm_hv_pu,va_hv_degree,vm_lv_pu,va_lv_degree,loading_percent
0,-6.744162,-0.454096,6.766008,0.675887,0.021846,0.221791,0.034754,0.191584,1.02083,0.032414,1.024562,1.802848,26.546681

In [25]:
# Load
net.res_load

   p_mw  q_mvar
0   1.2     2.4

In [26]:
# Static Generator
net.res_sgen

   p_mw  q_mvar
0   2.0    -0.5

In [27]:
#Generator
net.res_gen

   p_mw   q_mvar  va_degree  vm_pu
0   6.0  3.42191   1.870455   1.03

In [28]:
# Shunt
net.res_shunt

   p_mw    q_mvar    vm_pu
0   0.0 -1.000409  1.02083